* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
}

:root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 17, 27);
    --tertiary-color: rgb(90, 86, 86);
    --fourth-color: rgb(143, 210, 241);
}

.main {
    background-color: var(--secondary-color);
}

/* header styling */

.header {
    padding: 5px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    top: 0;
    color: var(--primary-color);
    /* border-bottom: 5px solid var(--fourth-color); */
}

.logo {
    font-family: 'New Tegomin', serif;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2em;
    text-transform: uppercase;
}

.logo a {
    color: var(--primary-color);
}

.logo a:hover {
    text-decoration: none;
    color: var(--fourth-color);
}

.header-nav {
    display: flex;
}

.header-link {
    text-decoration: none;
    color: var(--primary-color);
    text-transform: uppercase;
    padding: 5px 15px;
    font-weight: lighter;
    font-size: 1.5em;
    text-align: center;
}

.header-link:hover {
    color: var(--fourth-color);
    text-decoration: none;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.hero {
    /* background-image: url("./assets/images/tech-against-trafficking-hero.jpg"); */
    background-image: linear-gradient(var(--fourth-color), var(--secondary-color) );
    /* background-color: var(--secondary-color); */
    padding: 30px;
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 80px; */
}

/* About Styling */

.section-header {
    background-color: var(--secondary-color);
    padding: 20px;
}

.section-header h2 {
    text-transform: uppercase;
    font-family: 'New Tegomin', serif;
    padding-bottom: 10px;
}

.about-flex-container {
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.bio {
    padding: 10px;
    margin: 10px;
    display: flex;
    font-weight: lighter;
    color: var(--primary-color);
    font-style: italic;
    font-size: 25px;
    text-align: center;
}

.image-holder {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 40%;
}

img {
    width: 60%;
}

/* Portfolio styling */
.photolist-wrapper {
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.image-card {
   justify-content: center;
    padding: 20px;
}
.image-card h1 {
    text-transform: uppercase;
    font-family: 'New Tegomin', serif;
    padding-bottom: 5px;
    display: block;
    font-size: xx-large;
    text-decoration: underline;
}
.image-text-wrapper {
    padding-bottom: 10px;
}

.image-a {
    text-decoration: none;
    text-transform: uppercase;
    padding: 30px;
    color: var(--primary-color);
}

.image-a:hover {
    text-decoration: none;
    color: var(--fourth-color);
}
/* contact section */

.contact-padding {
    padding: 10px;
}

.contact-label {
    padding-right: 10px;
}

input {
    color: black;
    font-size: 1rem;
    padding: 0.25rem;
    border: 1px solid var(--dark);
    outline: none;
    border-radius: 3px;
}

input:focus {
    border: 3px solid var(--fourth-color);
}

.form-padding {
    padding-bottom: 5px;
}

.error-message {
    text-transform: uppercase;
}

form {
    width: 40%;
}

textarea {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    color: black;
}

textarea:focus {
    border: 4px solid var(--fourth-color);
}

.button {
    font-size: 1rem;
    /* text-decoration: none; */
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0 1px;
    background-color: var(--tertiary-color);
}

button:hover {
    background-color: var(--fourth-color);
}

/* footer styling */

.footer {
    background-color: var(--tertiary-color);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
}

.footer-words {
    font-weight: lighter;
    color: var(--primary-color);
    font-style: italic;
    font-size: 25px;
}

.footer-span {
    font-size: 30px;
    letter-spacing: 5px;
    font-family: 'New Tegomin', serif;
    display: block;
}

/* media queries */

@media screen and (max-width: 730px) {
   
    header {
        display: flex;
        flex-wrap: wrap;
    }
    .logo {
        font-size: xx-large;
    }
    .header {
        justify-content: center; 
    }
    .hero {
        background-image: none;
        border-bottom: 5px solid var(--fourth-color);
        padding: 0px;
    }
    .nav-list {
        justify-content: center;
        flex-wrap: nowrap;
        font-size: xx-small;
        
    }
    .nav-list li {
        padding: 0px;
        margin: 0px;
    }

    .image-holder {
        width: 100%;
    }
    .footer {
        padding: 5px;
        padding-top:8px;
    }
    .footer span {
        font-size: 20px;
        letter-spacing: 0;
    }
    .footer-words {
        font-size: 18px;
    }
    textarea {
        width: 300px;
    }
    .image-card h1 {
        font-size: x-large;
    }
    .img-thumbnail {
        width: 250px;
        height: 150px;
        padding: 0px;
    }
    
}