
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--primary-color);
   
  }
  
  :root {
    --primary-color: rgb(255, 255, 255);
    --secondary-color: rgb(0, 17, 27);
    --tertiary-color: rgb(90, 86, 86);
    --fourth-color: rgb(143, 210, 241);
  }
  
  /* 
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  } */
  
  /* add styling */
  /* header styling */
  .header {
     padding: 5px 35px;
     background-color: var(--tertiary-color);
     display: flex;
     justify-content: space-between;
     top: 0; 
     color: var(--primary-color);
  }

  .logo {
      font-family: 'New Tegomin', serif;
      font-weight: bold;
      letter-spacing: 2px;
      font-size: 2.7em;
      text-transform: uppercase;
  }
  .logo a {
    color: var(--primary-color);
  }
  .logo a:hover {
      text-decoration: none;
      color: var(--fourth-color);
  }

  .small-screen-logo {
      display: none;
  }

  .header-nav {
      display: flex;

  }

  .header-link {
      text-decoration: none;
      color: var(--primary-color);
      text-transform: uppercase;
      padding: 5px 15px;
      font-weight: lighter;
      font-size: 1.5em;
      text-align: center;
  }
.header-link:hover {
    color: var(--fourth-color);
    text-decoration: none;
  }

  .nav-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      padding: 0;
      margin: 0;
  }

  .hero {
    background-image: url("./assets/images/tech-against-trafficking-hero.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    padding: 80px;
}
/* About Styling */

.section-header {
    background-color: var(--secondary-color);
    padding: 20px;
}

.section-header h2 {
    text-transform: uppercase;
    font-family: 'New Tegomin', serif;
}
.about-flex-container {
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
}
.bio {
    padding: 10px;
    margin: 10px;
    display: flex;
    font-weight: lighter;
    color: var(--primary-color);
    font-style: italic;
    font-size: 25px;
}
.image-holder {
    text-align: center;
    width: 40%;

}
img {
    width: 60%;

}

/* contact section */

.contact-padding {
    padding: 10px;
}

.contact-label {
    padding-right: 10px;
}
input {
    color: black;
}
button {
font-size: 1rem;
  /* text-decoration: none; */
  text-transform: uppercase;
  padding: 0.25rem 1rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--tertiary-color);
}

button:hover {
    background-color: var(--fourth-color);
}


  /* footer styling */
  .footer {
    background-color: var(--tertiary-color);
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
  }
  
  .footer-words {
    font-weight: lighter;
    color: var(--primary-color);
    font-style: italic;
    font-size: 25px;
  }
  
  .footer-span {
    font-size: 30px;
    letter-spacing: 5px;
    font-family:  'New Tegomin', serif;
    display: block;
  }
  